@font-face {
    font-family: "Poppins";
    src: url("/fonts/poppins.ttf");
}

@font-face {
    font-family: "Poppins-Medium";
    src: url("/fonts/Poppins-Medium.ttf");
}

body {
    font-family: "Poppins", "Poppins-Medium";
    vertical-align: baseline;
  }

h1 {
    font-size: 24px;
    font-weight: bold;
    color: black;
    padding: 100px 0 50px 0 ;
}
  
h2 {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 30px ;
}

h3 {
    font-size: 14px;
    font-weight: bold;
    line-height: normal ; 
    padding-bottom: 10px ;
}

p{
    font-size: 12px;
    line-height: normal ; 
}

nav {
    position: fixed;
    background-color: #0475ba;
    height: 72px;
    width: 100%;
    padding: 0px 40px;
    display :flex;
}

.name {
    color : white;
    font-size: 18px;
    font-weight: bold; 
    display :flex;
    align-items: flex-end;
}

nav ul {
    color : white;
    font-size: 14px;
    padding-left: 20px;
    display :flex;
    align-items: center;
}

nav ul li {
    padding: 0 10px;
}

nav ul a {
    color : white;
    outline: none;
    text-decoration: none;
}

nav ul a:visited {
    color : white;
    text-decoration: none;
}

nav ul a:hover {
    color:rgb(201, 201, 201);
}



#Profil {
    display: flex;
    justify-content: space-between;
}

.Profil text {
    display: flex;
    justify-content:left;
}

.photo-identite {
    width: 150px;
	height: 150px;
    border-radius:50%;
    display: flex;
    justify-content: right;
}

.Blue {
    color: white;
    background-color: #0475ba;
    padding: 40px 120px;
}

.White {
    color: black;
    background-color:white;
    padding: 40px 120px;
}

.White h2 {
    color: #0475ba;
}

#Présentation ul li {
    margin-left: 20px;
    font-size: 12px ;
    list-style: disc ;
    line-height: normal ;   
}

td {
    font-size: 12px ;
    line-height: normal ; 
    padding-right: 40px ;
}

table h3 {
    font-size: 14px;
    font-weight: bold;
    line-height: normal ; 
}

footer{
    background-color: #0475ba;
    height: 90px;
    align-items: center; 
    display: flex;
    justify-content: space-between; 
}

footer a {
    color: white;
    font-size: 12px ; 
    padding: 40px;
}

footer a:hover {
    color:rgb(201, 201, 201);  
}

.blog links {
    display: flex;
    justify-content: flex-start;
}

.socials networks {
    display: flex;
    align-items: center;
}